server {
    listen       3000;
    server_name  localhost;
    gzip on;
    gzip_comp_level 6;
    gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;

    location /assets/ {
        root /ui/dist/;
        try_files $uri $uri =404;
    }

    location / {
        root /ui/dist/;
        index index.html index.htm;

        expires -1;
        add_header Cache-Control no-store;

        try_files $uri $uri/ /index.html;
    }

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /ui/build/;
    }
}